body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: skyblue;
    background-size: cover;
}

h2{
    text-align: center;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a{
    font-family: 'New Tegomin', serif;
    font-size: bold;
}
hr{
    
    color:red;
}
.nav i{
    font-size: xx-large;
    font-weight: bold;
}



















