*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background-color: skyblue;
    background-size: cover;
}
h4{
    text-align: center;
    color: red;
    padding-top: 0;
    padding-bottom: 80px;
}
th{
    color: red;
    font-size: x-large;
}




