*{
    margin: 0;
    padding: 0;

}
body{
    font-size: 100%;
}
.wrap{
    width: 100%;
    float: left; 
}
.main{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    position: relative;
}
.main h1{
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.sidebar{
    height: 100vh;
    width: 360px;
    background-color: gray;
    position: fixed;
    z-index: 999;
    padding: 40px;
}
.sidebar ul{
    display: block;
    margin-top: 50px;
}
.sidebar ul li{
    padding: 10px 0;
    list-style: none;
    border-bottom: 2px solid #707070;
    margin-bottom: 10px;
}
.sidebar ul li a{
    color: #fff;
    font-size: 26px;
    text-decoration: none;

}
.sidebar h1{
    color: black;
    font-size: 40px;
    font-weight: normal;
    text-transform: unset;
}
#menuicon{
    position: absolute;
    right: -50px;
    top: 0;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  input[type=submit]:hover {
    background-color: #45a049;
}
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    float: right;
    
}
.card{
    background-color: tomato;
    border-style: double;
}
.card-body{
    background-color: steelblue;
    border-radius: 10px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
h2{
    text-align: center;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  input[type=submit]:hover {
    background-color: #45a049;
}
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 7px;
}






  